/*.navbar-red {
  background-color: rgb(29, 66, 146);
}
.navbar-brand {
  font-size: 27px;
   background-color: rgb(87, 81, 79);
  color: rgb(177, 151, 64);

 // border-block-end-width: thin;
  //border-bottom-left-radius: 123px 100px;
  border-radius: 90px / 2px 78px 13px;
}


 .nav-link.active{
 color: rgb(213, 179, 68);
 }
*/
