<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3>Histórico de Pedidos</h3>

                    <div class="row g-3 filter-container">
                        <div class="col-md-5">
                            <label for="filtroData" class="form-label">Filtrar por Data do Pedido</label>
                            <input type="date" id="filtroData" class="form-control" [(ngModel)]="filtroData">
                        </div>
                        <div class="col-md-5">
                            <label for="filtroStatus" class="form-label">Filtrar por Status</label>
                            <select id="filtroStatus" class="form-select" [(ngModel)]="filtroStatus">
                                <option value="">Todos</option>
                                <option value="FILA">Em Fila</option>
                                <option value="PREPARANDO">Preparando</option>
                                <option value="FINALIZADO">Finalizado</option>
                                <option value="ENTREGUE">Entregue</option>
                                <option value="CANCELADO">Cancelado</option>
                            </select>
                        </div>
                        <div class="col-md-2 acoes">
                            <button class="btn btn-primary me-2" (click)="buscar()">Buscar</button>
                            <button class="btn btn-secondary" (click)="limparFiltros()">Limpar</button>
                        </div>
                    </div>

                    <br />
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID do Pedido</th>
                                <th>Nome do Cliente</th>
                                <th>Status</th>
                                <th>Valor Total</th>
                                <th>Data Do Pedido</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (pedido of pedidos; track pedido.id) {
                            <tr routerLink="/admin/historicos/{{pedido.id}}">
                                <td>{{ pedido.id }}</td>
                                <td>{{ pedido.nomeCliente }}</td>
                                <td>
                                    <span class="status" [ngClass]="{
                                        'bg-secondary': pedido.status === 'FILA',
                                        'bg-info': pedido.status === 'PREPARANDO',
                                        'bg-success': pedido.status === 'FINALIZADO' || pedido.status === 'ENTREGUE',
                                        'bg-danger': pedido.status === 'CANCELADO'
                                        }">
                                        {{ pedido.status }}
                                    </span>
                                </td>
                                <td>{{ pedido.valorTotal | currency:'BRL' }}</td>
                                <td>{{ pedido.dataPedido | date:'dd/MM/yyyy' }}</td>
                            </tr>
                            } @empty {
                            <tr>
                                <td colspan="5" class="pedido-vazio">Nenhum pedido encontrado.</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>