/*.btn-cor{
   background-color: rgb(228, 153, 40);
    color: rgb(0, 0, 0);
    text-shadow: rgb(54, 54, 147);
    border-radius: 56px 6px ;
   
}
.btn-core{
    background-color: rgb(176, 68, 68);
    color: rgb(255, 255, 255);
}
.btn-danger{
 background-color: rgb(176, 68, 68);
}
.cor{
    color: rgb(255, 255, 255);
   background:rgb(173, 72, 0);
}
.cor1{
    color: rgb(9, 136, 136);
    background-color: aquamarine;
}
*/
