.topo {
  top: 20vh;
  position: relative;
 

}


.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
;
 
  &:hover {
    color: #5b0505;
    cursor: text;
    
  }
  
}
.m {
  text-decoration: underline;
  font-size: 70px;
  font-weight: bold;
  color: rgb(229, 0, 0);
  margin-left: auto;
  margin-right: auto;
  &:hover {
    color: rgb(180, 84, 0);
    cursor: none;
  }
}
.navbar {
  box-shadow: 0 1px 16px rgba(255, 140, 0, 0.3);
  background-color: #3d0202;
  margin-left: auto;
  margin-right: auto;
   animation-name: myAnimation;
  animation-duration: 4s;
  @keyframes myAnimation {
  0%   {background-color:rgb(255, 0, 0); left:0px; top:0px;}
  25%  {background-color:rgb(199, 92, 5); left:200px; top:0px;}
  50%  {background-color:rgb(133, 3, 3); left:200px; top:200px;}
  75%  {background-color:rgb(67, 2, 2); left:0px; top:200px;}
  100% {background-color:rgb(69, 4, 4); left:0px; top:0px;}
}

}
