.topo {
  top: 20vh;
  position: relative;
  ;

}


.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
;
 
  &:hover {
    color: #e15050;
    cursor: text;
    
  }
  
}
.m {
  text-decoration: underline;
  font-size: 70px;
  font-weight: bold;
  color: rgb(229, 0, 0);
  margin-left: auto;
  margin-right: auto;
  &:hover {
    color: rgb(180, 84, 0);
    cursor: none;
  }
}
.navbar {
  box-shadow: 0 1px 16px rgba(71, 40, 2, 0.3);
  background-color: #3d0202;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    background-color: #5e0a0a;

}
}

.btn{
   background-color: rgb(97, 6, 6);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0s ease-out, transform 1s ease-out;
}
  .btn:hover{
      background-color: #810f00;
  transform: scale(1.3);

  }


