.btn-cancel{
    font-size: 10px;
    border-radius: 10rem;
    margin: 5px;
}
.btn-success{
    font-size: 10px;
    border-radius: 10rem;
    margin:5px;
}
.container-acoes{
    display: flex;
    
}
.btn-add{
    font-size: 10px;
}
.btn-voltar{
    font-size: 10px;
}